<section class="flex flex-col my-16">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4 py-8">
    <!-- Tarjeta 1 -->
    <div
      class="flex flex-col justify-center items-center gap-2 border border-dashed border-gray-500 p-4 rounded-md h-32 bg-white shadow-md transform transition-transform duration-300 hover:scale-105 hover:bg-blue-50 hover:border-solid hover:border-blue-500"
    >
      <div class="flex gap-2 items-center">
        <span class="font-bold text-xl xl:text-4xl text-gray-800"
          >22/09/2024</span
        >
        <svg
          class="w-8 h-8 text-gray-800 opacity-70"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
        </svg>
      </div>
      <span class="font-semibold text-gray-600 text-sm text-center"
        >Fecha Carrera</span
      >
    </div>

    <!-- Tarjeta 2 -->
    <div
      class="flex flex-col justify-center items-center gap-2 border border-dashed border-gray-500 p-4 rounded-md h-32 bg-white shadow-md transform transition-transform duration-300 hover:scale-105 hover:bg-blue-50 hover:border-solid hover:border-blue-500"
    >
      <div class="flex gap-2 items-center">
        <span class="font-bold text-xl xl:text-4xl text-gray-800"
          >5k - 10k - 21k</span
        >
        <svg
          class="w-10 h-10 text-gray-800 opacity-70"
          viewBox="0 0 64 64"
          xmlns="http://www.w3.org/2000/svg"
          stroke-width="3"
          stroke="currentColor"
          fill="none"
        >
          <path
            d="M17.94,54.81a.1.1,0,0,1-.14,0c-1-1.11-11.69-13.23-11.69-21.26,0-9.94,6.5-12.24,11.76-12.24,4.84,0,11.06,2.6,11.06,12.24C28.93,41.84,18.87,53.72,17.94,54.81Z"
          ></path>
          <circle cx="17.52" cy="31.38" r="4.75"></circle>
          <path
            d="M49.58,34.77a.11.11,0,0,1-.15,0c-.87-1-9.19-10.45-9.19-16.74,0-7.84,5.12-9.65,9.27-9.65,3.81,0,8.71,2,8.71,9.65C58.22,24.52,50.4,33.81,49.58,34.77Z"
          ></path>
          <circle cx="49.23" cy="17.32" r="3.75"></circle>
          <path d="M17.87,54.89a28.73,28.73,0,0,0,3.9.89"></path>
          <path
            d="M24.68,56.07c2.79.12,5.85-.28,7.9-2.08,5.8-5.09,2.89-11.25,6.75-14.71a16.72,16.72,0,0,1,4.93-3"
            stroke-dasharray="7.8 2.92"></path>
          <path d="M45.63,35.8a23,23,0,0,1,3.88-.95"></path>
        </svg>
      </div>
      <span class="font-semibold text-gray-600 text-sm text-center"
        >Distancias</span
      >
    </div>

    <!-- Tarjeta 3 -->
    <div
      class="flex flex-col justify-center items-center gap-2 border border-dashed border-gray-500 p-4 rounded-md h-32 bg-white shadow-md transform transition-transform duration-300 hover:scale-105 hover:bg-blue-50 hover:border-solid hover:border-blue-500"
    >
      <div class="flex gap-2 items-center">
        <span class="font-bold text-xl xl:text-4xl text-gray-800"
          >La Estacion C.C</span
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          xml:space="preserve"
          class="w-8 h-8 text-gray-800 opacity-70"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <g>
            <path
              class="st0"
              d="M6,18.3c8-4.9,12,6.4,20,1.4c0-5.6,0-8.4,0-14c-8,4.9-12-6.4-20-1.4C6,9.9,6,12.7,6,18.3z"
            ></path>
          </g>
          <line class="st0" x1="6" y1="29" x2="6" y2="18"></line>
        </svg>
      </div>
      <span class="font-semibold text-gray-600 text-sm text-center"
        >Salida - Meta</span
      >
    </div>

    <!-- Tarjeta 4 -->
    <div
      class="md:col-start-2 lg:col-auto flex flex-col justify-center items-center gap-2 border border-dashed border-gray-500 p-4 rounded-md h-32 bg-white shadow-md transform transition-transform duration-300 hover:scale-105 hover:bg-blue-50 hover:border-solid hover:border-blue-500"
    >
      <div class="flex gap-2 items-center">
        <span class="font-bold text-xl xl:text-4xl text-gray-800"
          >20/09/2024 21/09/2024</span
        >
        <svg
          fill="currentColor"
          class="w-12 h-12 text-gray-800 opacity-70"
          viewBox="0 0 1920 1920"
          stroke-width="10"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1813.333 1557.195c-557.76 126.826-1148.48 126.826-1706.666 0V468.448c557.76-126.827 1148.48-126.933 1706.666 0v1088.747ZM1879.04 374.26c-600.32-143.573-1238.4-143.466-1838.08 0L0 384.075v1257.493l40.96 9.813c300.053 71.787 609.28 108.054 919.04 108.054 309.867 0 619.2-36.267 919.04-108.054l40.96-9.813V384.075l-40.96-9.814ZM853.333 786.987l376.32 225.813-376.32 225.813V786.987Zm-106.666 640 690.346-414.187-690.346-414.187v828.374Z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <span class="font-semibold text-gray-600 text-sm text-center"
        >Expomedia</span
      >
    </div>
  </div>
</section>
