<section
  class="flex flex-row items-center justify-center p-28 xl:justify-between my-16"
>
  <img
    src="assets/1.webp"
    alt="Manual del Atleta"
    class="mb-5 h-96 hidden xl:block"
  />

  <div class="text-center">
    <h2 class="text-4xl">
      CONSULTA Y DESCARGA
      <h3 class="inline-block text-9xl font-bold">
        EL MANUAL <br />
        <h2 class="text-4xl font-semibold">DEL ATLETA</h2>
      </h3>
    </h2>
    <br />
    <a
      href="assets/manual.pdf"
      download
      class="text-5xl uppercase inline-block bg-blue-500 text-white px-10 py-5 rounded-full mt-4 hover:bg-blue-600 transition duration-300 ease-in-out"
    >
      Descárgalo aquí
    </a>
  </div>
</section>
