---

---

<section class="flex flex-col my-16">
  <div class="relative items-center justify-center bg-transparent m-10">
    <div
      class="overflow-hidden bg-transparent items-center justify-center flex"
    >
      <iframe
        class="block aspect-video h-full w-full overflow-hidden rounded bg-transparent border-none max-w-[1250px]"
        src="assets/video.mp4"
        title="Clip de la Media Maraton Musical"
        allow="autoplay"
      >
      </iframe>
    </div>
  </div>

  <h2 class="center text-center font-semibold text-2xl">
    !El ritmo est치 en tus pies! Sentir치s la emoci칩n de correr en la Media
    Marat칩n Musical.
  </h2>
  <div class="flex flex-col items-center justify-center text-center mt-9">
    <img
      class="max-h-[300px]"
      src="assets/10.webp"
      alt="Imagen Termina el Aguacero"
    />
    <a
      href="https://alcancias.armatuvaca.com/media-maraton-musical-ibague-2024"
      target="_blank"
      class="my-9 uppercase py-3 px-6 font-medium border rounded-md border-purple-500 text-purple-500 hover:bg-purple-500 hover:text-white transition-all duration-500"
      >ver detalles</a
    >
  </div>
</section>
